
body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    background-image: url("../Css-images/green.jpg") ;
}

header, body {
    margin: 30px;
}

#content {
    background-color: aliceblue;
    padding: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

header {
    padding: 80px;
    text-align: center;
    background-color: #F09B93;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    border-radius: 7px;
}

h1 {
    font-size: 40px;
}

navbar ul {
    width:fit-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 48px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

navbar li {
    float: left;
}

.fa-solid {
    padding-top: 10px;
    padding-bottom: 5px;
    height: inherit;
}

navbar ul a, navbar i{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    height: 41%;
    margin: 0;
    text-decoration: none;
    background-color: #439093;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.dropbtnUser{
    padding: inherit;
}

navbar a:hover, navbar .dropdown:hover, navbar i:hover{
    background-color:#F09B93;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #439093;
}

.dropdown-content a{
    display: block;
}

.dropdown-content a:hover {
    background-color:#F09B93
}
.dropdown:hover .dropdown-content{
    display:block;
    width: inherit;
}


#content div img {
    float: right;
    width: 200px;
    height: 150px;
    border-radius:7px;
    margin: 0px 50px 5px 60px;
}

