
body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    background-image: url("../Css-images/green.jpg") ;
    background-color: rgb(187, 223, 187);
}

header, body, footer{
    margin: 30px;
    min-width: min-content;
}

#content {
    position: relative;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 0px 7px 7px 7px;
}

header, footer {
    padding: 80px;
    text-align: center;
    background-color: #F09B93;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    border-radius: 7px;
}

footer {
    background-color: aliceblue;
    padding: 20px;
    color:#F09B93;
}

h1 {
    font-size: 40px;
}

navbar ul {
    width:fit-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 7px 7px 0px 0px;
    height: 41%;
}

navbar li {
    float: left;
}

.fa-solid {
    padding: 10px 16px 5px;
    height: inherit;
    background-color: inherit;
}

navbar ul a, navbar i{
    display: inline-block;
    color: white;
    padding: 13px 16px 15px;
    text-decoration: none;
    background-color: #439093;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

navbar a:hover, li, .dropdown-content:hover, .dropdown:hover .dropbtn{
    background-color:#F09B93;
    border-radius: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #439093;
    border-radius: 0%;
}

.dropdown-content a{
    display: block;
    border-radius: 0%;

    position: relative;
    z-index: 1;

}

.dropdown-content a:hover {
    background-color:#F09B93;
    border-radius: 0%;
}
.dropdown:hover .dropdown-content{
    display:block;
    width: inherit;
}

#content div img {
    float: right;
    width: 200px;
    height: 150px;
    border-radius:7px;
    margin: 0px 50px 5px 60px;
}

#content div a{
    padding: 5px 10px;
    border-radius: 7px;
    text-decoration: none;
    background:#F09B93;
    color: white;
}

