
html{
    scroll-behavior: smooth;
}

img{
    border-radius: 7px;
}

p{
    color: #5e5e5e;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Abril Fatface', cursive;
    color: #4b4b4b;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    background-image: url("../Css-images/tumblr_841607aa58d0e37a75f7486ff20d8bb4_b51caf95_2048.jpg") ;
    background-color: rgb(187, 223, 187);
    line-height: 1.7;
}

header .btn{
    border: 2px solid #ffffff;
    border-radius: 50%;
    float: right;
    margin: 2%;
    padding: 1% 1.5%;
    color: #ffffff;
}

header .btn:hover{
    background-color: #ffffff;
    color: #3d513a;
}

header #hcontent {
    padding: 80px;
}

header, body, footer{
    margin: 4%;
    min-width: min-content;
}

#content {
    position: relative;
    background-color: aliceblue;
    padding: 4% 5% 5% 5%;
    border-radius: 0px 0px 7px 7px;
}

header, footer {
    /*padding: 80px;*/
    text-align: center;
    background-color: #2f4a2a;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    border-radius: 7px;
}

header{
    background-image: url(../Css-images/header2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    margin-bottom: 0;
    color: #53616d;
    font-size: 40px;
}

header p{
    text-align: center;
    font-weight: bold;
}

.fa-solid {
    padding: 0px;
    height: inherit;
    background-color: inherit;
}

/*------------------[NAVBAR]---------------------*/

navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#navbar2{
    position: inherit;
    z-index: 0;
}

navbar ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #ffffff;
}

.nav_link{
    text-decoration: none;
    float: left;
    display: block;
    color: #385b5a;
    padding: 8px 19px;
    text-align: center;
}

navbar .nav_link:hover, .drop:hover .drop_btn{
    background-color: #cd717d;
    color: #ffffff;
}

.drop{
    float: left;
    overflow: hidden;
}

.drop .drop_btn{
    background-color: transparent;
    border: none;
    color: #385b5a;
    padding: 12px 19px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

.drop_btn i{
    margin-left: 9px;
}

.drop_content{
    min-width: 112px;
    display: none;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
}

.drop_content .nav_link{
    float: none;
    display: block;
    text-align: left;
}

.drop:hover .drop_content{
    display: block;
}

navbar .searchlink{
    padding: 4px 19px;
}

navbar .searchlink:hover{
    background-color: transparent;
}

.searchlink button{
    border-radius: 50px;
    min-height: 29px;
    min-width: 31px;
    padding: 6px;
    text-align: center;
    border: none;
}

.searchlink input{
    border-radius: inherit;
    border: none;
    padding: 5px;
    background-color: transparent;
}

.searchlink input:focus-visible{
    outline: none;
}

.searchlink #search{
    background-color: #ecb0b8;
    padding: 3px;
    border-radius: 50px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content #body2{
    /*box-shadow: 10px 10px 10px rgba(92, 131, 143, 0.406);*/
    background-color: #fefefe;
    padding: inherit;
    border-radius: inherit;
}

hr{
    margin: 2%;
}

#body2 h2{
    margin-top: 1%;
}

#content #recipe_img {
    width: 50vw;
    height: 40vw;
    display: block;
    margin: auto;
}

#body2 ol li{
    background-color: transparent;
}

.fc{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content:space-evenly;
}

/*-----------------[Footer]-----------------*/

footer {
    background-color: aliceblue;
    padding: 20px;
}

footer p, footer h2, footer h3{
    color:#cd717d;
}

footer a:link{
    color: #cd717d;
    text-decoration: none;
}

footer a:visited{
    color: #cd717d;
    text-decoration: none;
}

footer a:active{
    color:#2f4a2a;
    text-decoration: none;
}

footer a:hover{
    color: #cd717d;
    text-decoration: underline;
}

footer .fc{
    justify-content:center;
}

footer .fc .f-item{
    margin-right: 30px;
    margin-left: 30px;
}

footer h2{
    margin-bottom: 2px;
}

footer h3{
    margin-bottom: 1px;
}

footer ul{
    list-style: none;
    display: flex;
    padding: 0%;
}

footer #contact{
    flex-direction: column;
}

footer #social{
    flex-direction: row;
    justify-content: center;
}

footer li{
    align-items: center;
}

footer #social a{
    margin: 10px;
}

/*-----------------[comment section]-----------------*/

#text {
    display: none;
}

.comment{
    border: 1px solid #5860579c;
    padding: 3%;
    border-radius: 7px;
}

.comment p {
    margin: 0;
}

.comment .userName{
    color: #b15f6a;
    font-size: large;
    font-weight: bold;
}

.comment .time{
    color: #3f3f3f;
}

#write {
    background-color: #d9eeed;
    padding: 3%;
    border-radius: 7px;
}

.comment {
    margin: 2% 0px;
}

.error{
    border: 2px solid #b15f6a;
}

form input[type=text], form input[type=email], textarea{
    width: -webkit-fill-available;
    padding: 10px;
    /*#f2eee6*/
}

form input[type=submit]{
    background-color: #cd717d;
    border-radius: 7px;
    border: none;
    padding: 2%;
    margin: 2%;
}

form .submit{
    background-color: #cd717d;
    border-radius: 7px;
    border: none;
    padding: 2%;
    margin: 2%;
    transition: 0.3s;
    font-weight: bold;
    font-size: 15px;
    color: #2c2929;
}

form .submit:hover{
    background-color: #7b9771;
    cursor:pointer;
}

#errors{
    color: #661f29;
}

#ing input{
    display: block;
    float: left;
}

#ing label{
    display: block;
}

/*------------------LOGIN--------------------*/

#content_log{
    background-color: aliceblue;
    border-radius: 7px;
    padding: 4% 5% 5% 5%;
    margin: 7% auto;
    width: 50%;
}

#content_log form{
    padding: 3%;
    border: 3px solid #ffffff;
    display: flex;
    flex-direction: column;
}

#content_log button{
    width: max-content;
    margin: auto;
    padding: 2%;
    background-color: #fefefe;
    color: #2c2929;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

/*------------[SLIDE AND RECIPEs CARD]--------------*/

.readmore{
    margin: 0 auto;
    display: block;
    background-color: #daeeed;
    color: #4b4b4b;
    padding: 1% 4%;
    border-radius: 20px;
    width: max-content;
    text-decoration: none;
}

.slide {
    background-color: #ffffff;
    border-radius: 7px;
    width: 70%;
    min-height: 400px;
    padding: 9px;
    flex-direction: column;
    display: flex;
    position: relative;
    margin: auto;
    transition: transform .2s;
}

.fc .slide:hover{
    transform: scale(1.1);
}

.img-slide{
    width: 97%;
    height: 40vw;
    margin: auto;
    border: 3px solid rgb(255, 193, 216);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% {opacity: .4}
    100% {opacity: 1}
}

.p-slide{
    color: #5e5e5e;
    text-align: center;
    bottom: 5%;
    line-height: normal;
}

.btn-left, .btn-right{
    position: absolute;
    top: 50%;
    cursor: pointer;
    background-color: #cd717d7b;
    margin-top: -2%;
    border: none;
    padding: 14px;
    border-radius: 0px 7px 7px 0px;
    color: #ffffff;
    font-weight: 700;
    font-size: large;
    transition: 0.5s ease;
}

.btn-left{
    left: 0;
}

.btn-right{
    right: 0;
    border-radius: 7px 0px 0px 7px;
}

.btn-left:hover, .btn-right:hover{
    background-color: #cd717dc9;
}

.div-slide{
    right: 0;
    top: 0;
    padding: 2%;
}

.h-slide{
    color: #cd717d;
    text-align: center;
    line-height: normal;
    margin-top: unset;
}

.fc .img-slide{
    height: 20vw;
}

.fc .slide{
    margin: 10px 13px;
    min-height: unset;
}

/*-----------------[SNACKBAR]-----------------*/

#snackbar {
    position: fixed;
    z-index: 1;
    bottom: 30px;
    min-width: 250px;
    max-width: 300px;
    margin-left: -150px;
    left: 50%;
    background-color: #e3c7cb;
    border-radius: 7px;
    text-align: center;
    padding: 1vh;
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity:1 }
    to {bottom: 0px; opacity: 0;}
}

/*-----------------[h with hearts]-----------------*/

.h-heart span::before, .h-heart span::after{
    background: url("../Css-images/heart.png") no-repeat;
   background-size: 100% auto;
   content: "";
   display: inline-block;
   position: relative;
   width: 30px;
   height: 40px;
   top: 15px;
}

/*-----------------[chechbox with hearts]-----------------*/

.container{
    display: inline-block;
    position: relative;
    width: -webkit-fill-available;
    padding-left: 35px;
    margin: 1%;
    cursor: pointer;
}

.container input[type=checkbox]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.cb{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f0f8ff7a;
    border: 2px solid #e38796;
    border-radius: 7px;
}

.container:hover input ~ .cb{
    background-color: transparent;
}

.container .cb::after{
    width: 100%;
    height: 100%;
    background: url("../Css-images/heart.png");
    background-size: 100% auto;
}

.cb::after{
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .cb::after{
    display: block;
}
